<div class="game-page">
  <div class="card text-center mx-auto w-90 h-60">
    <div class="card-body topick-box">
      <h1 class="game-logo">トピつく。</h1>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <%= link_to "ゲーム開始",folder_path,class:"btn btn-info w-90 next" %>
  </div>
</div> 