<% if folder.user == current_user && current_user.already_liked?(folder) %>
  <%= link_to '', folder_like_path(folder.id,folder.likes), method: :delete, class:"fas fa-heart unlike" %>
<% else %>
  <% if folder.user == current_user %>
    <%= link_to '', folder_likes_path(folder), method: "post", class:"fas fa-heart like" %>
  <% else %>
   <span class="fas fa-heart like"></span>
  <% end %>  
<% end %>
<span class="ml-1"><%= folder.likes.count %></span>   


