// Place all the styles related to the folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// show

.topick{
  font-size:50px;
  font-family:'Century Gothic';
  // color: red;
}

.topick-box{
  // text-align: center;
  // background-color: red;
  // color: red;
}

.game-logo{
  font-size:50px;
  font-family:'Impact';
 }
 
//  .next{
//   position :fixed;
//   bottom: 100px;
//   left: 5% ;
//   z-index: 10;
//  }

// index

.user-name{
  font-family:'Microsoft Sans Serif';
  font-size:20px;
}
.user-name a{ 
  color:rgb(89, 84, 84);  
  }  

.folder-title{
  font-family:'MV Boil';
  font-size:37px;
}

.w-90{
  width:90%;
}

.game-page{
  height: 100vh;
}

.folder-show{
  height: 100vh;
}

.h-60{
  height: 60%;
}

// .card{
//   height: 200px;
// }

// .next{
// 	position: absolute;
// 	bottom: 90px;
//   // width:auto;
//   left:50%;
//     transform: translateX(-50%);
//     -webkit-transform: translateX(-50%);
//     -ms-transform: translateX(-50%);
// }


