// top

.top-page{
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.how-to-wrapper{
  display:inline-block;
  background-color: #f7f7f7;
  padding:10px 10%;
  // margin:0 5%;
}

.how-to{
  float:left;
  width:25%;
}

.text-contents {
  width: 80%;
  display: inline-block;
  font-size: 13px;
  color: #534c55;
}



// guidance-wrapper

.guidance-wrapper{
  background-color:white;
}