// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.like {
    color: #8899a6!important;
  }
  
  .unlike {
    color: #ff2581!important;
  }
