.form{
  width:300px;
}

.user-name-show{
  font-family:'Microsoft Sans Serif';
  font-size:35px;  
} 

.icon{
  width:40px;
  height:40px;
  border-radius: 20px;
  margin-right:10px;
}

.user-edit{
  float:right;
}




// user/show

.tab-group{
  display: flex;
  justify-content: center;
}

.tab{
  flex-grow:1;
  padding:5px;
  list-style:none;
  border:solid 1px #CCC;
  text-align:center;
  cursor:pointer;
  background:white;
  color:black;
}
.panel-group{
  height:100px;
  border:solid 1px #CCC;
  border-top:none;
  background:white;
}
.panel{
  display:none;
}
.tab.is-active{
  background:white;
  color:black;
  transition: all 0.2s ease-out;
}
.panel.is-show{
  display:block;
}